<ion-content class="page" [fullscreen]="true">
  <app-header
  title="Animales para adoptar"
></app-header>
  <ion-card>
    <ion-buttons>
      <ion-button (click)="openNfcModal()">
        <i class="fa-brands fa-nfc-symbol"></i>
        <ion-label>Scan</ion-label>
      </ion-button>
      <ion-button>
        <ion-label>{{tag}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="addClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
