<ion-content [fullscreen]="true">
  <ion-img class="catdog-img" src="/assets/icon/dogcat.svg"></ion-img>
    <h1>Únete a la comunidad de NOApp</h1>
    <h2>Crea una cuenta gratis</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <app-custom-input
        icon="person-outline"
        type="text"
        label="Nombre completo"
        [control]="userForm.controls.names"
      >
      </app-custom-input>

      <app-custom-input
        icon="at-outline"
        type="text"
        label="Nombre de usuario"
        [control]="userForm.controls.username"
      >
      </app-custom-input>
      <app-custom-input
        icon="mail-outline"
        autocomplete="email"
        type="email"
        label="Correo"
        [control]="userForm.controls.email"
      >
      </app-custom-input>

      <app-custom-input
        icon="lock-closed-outline"
        autocomplete="password"
        type="password"
        label="Contraseña"
        [control]="userForm.controls.password"
      >
      </app-custom-input>
      <ion-button
        type="submit"
        expand="block"
        [disabled]="!userForm.valid"
        >Registrarse
      </ion-button>
    </div>
  </form>
</ion-content>

