.page {
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
}
.content {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  padding: 10px 10px 30px;
  ion-item {
    width: 100%;
  }
}

.options {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  i {
    font-size: x-large;
  }
}

.added {
  color: var(--ion-color-primary);
  i {
    color: var(--ion-color-danger);
  }
}
.no-added {
  color: var(--ion-color-primary);
  i {
    color: var(--ion-color-primary);
  }
}
