ion-list {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}
.normal-input {
  border: 2px solid var(--ion-color-primary);
  ion-input {
    --color: var(--ion-color-primary);
  }
}
.error-input {
  border: 2px solid var(--ion-color-danger);
  ion-input {
    --color: var(--ion-color-danger);
  }
}

.errors {
  div {
    color: var(--ion-color-danger);
  }
  margin-bottom: 10px;
}

.content {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  padding: 10px 10px 30px;
}
